body {
  margin: 0;
  background-color: #222;
  font-family: verdana;
}

.top {
  background: #2e112d;
  background: linear-gradient(90deg, #2e112d 0%, #820333 60%, #f0433a 100%);
  border-bottom: 3px solid #ffffff26;
}

.logo {
  padding: 20px 20px;
}

h1 {
  margin: 0px;
  color: #ddd;
}

h5 {
  color: #ddd;
}

.container {
  max-width: 940px;
  margin: auto;
}

.copy {
  padding: 5px 20px;
  border-bottom: 1px solid #555;
}
.copy:last-child {
  border-bottom: none;
}

.radio {
  color: #ddd;
  font-size: .9rem;
  margin-bottom: 20px;
}
.radio label {
  margin-right: 8px;
}

.flex-box {
  min-height:300px;
  display: flex;
  align-items:flex-start;
  border: 1px solid #555;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 40px;
}
.flex-box .box {
  min-width: 100px;
  min-height: 100px;
  border-radius: 10px;
  border: 3px solid #ffffff26;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin: 5px;
}
.flex-box .one {
  background-color: #2E112D;
}
.flex-box .two {
  background-color: #540032;
}
.flex-box .three {
  background-color: #820333;
}
.flex-box .four {
  background-color: #C9283E;
}
.flex-box .five {
  background-color: #F0433A;
}

input[type=radio]:checked + label {
  color: #F0433A;
}

/* Flex Direction */
.fd-row {
  display: flex;
  flex-direction: row;
}

.fd-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.fd-column {
  display: flex;
  flex-direction: column;
}

.fd-column-reverse {
  display: flex;
  flex-direction: column-reverse;
}

/* Justify-Content */
.jc-flex-start {
  display: flex;
  justify-content: flex-start;
}

.jc-flex-end {
  display: flex;
  justify-content: flex-end;
}

.jc-space-between {
  display: flex;
  justify-content: space-between;
}

.jc-center {
  display: flex;
  justify-content: center;
}

.jc-space-around {
  display: flex;
  justify-content: space-around;
}

/* Align Items */
.ai-flex-start {
  display: flex;
  align-items: flex-start;
}

.ai-flex-end {
  display: flex;
  align-items: flex-end;
}

.ai-center {
  display: flex;
  align-items: center;
}

.ai-baseline {
  display: flex;
  align-items: baseline;
}

.ai-stretch {
  display: flex;
  align-items: stretch;
}

